body{
    display: grid;
    justify-content: center;
    align-content: center;
}
.task1{
    border: 2px solid gray;
    justify-self: center;
    align-self: center;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: repeat(6,1fr) ;
    width: 1200px;
    padding: 10px;
    grid-row-gap:10px;
    grid-column-gap:10px;
    
   
}
.section-1{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: xx-large;
    background-color: greenyellow;
    grid-area: 1/1/1/4;
    
}
.Main-Content p{
    font-size: small;
}
.section-2{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: xx-large;
    background-color: plum;
    grid-area: 2/1;
  
}
.Main-Content{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: xx-large;
    background-color: burlywood;
    grid-area: 2 / 2 / 4 /4;
}
.section-3{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: xx-large;
    background-color: green;
    grid-area: 3/ 1/5/2;
  
}
.Extra-Content{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: xx-large;
    background-color: beige;
    grid-area: 4/ 2/5/4;
}
.Related-Image{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: xx-large;
    background-color: aqua;
    grid-area: 5/1/6/3;
}
.Related-Posts{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: xx-large;
    background-color: palevioletred;
    grid-area: 5/3/6/4;
}
.Footer{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: xx-large;
    background-color: blue;
    grid-area: 6/1/7/4;
}

/* Solve of Task 2 ------------------------------------------*/




 
.container{
    background-color: aquamarine;
    width: 800px;;
    height: 720px;
    display: grid;
    justify-content: center;
    align-content: center;
}
.card{
    border-radius: 50px;
    background-color: bisque;
    width: 600px;
    height: 550px;
    padding: 20px;
    box-shadow: 20px 20px  5px rgb(146, 215, 192);
}
.elements{
    display: flex;
}
.elements p{
    margin: 20px;
    font-size: large;
    color: gray;
}
.elements p::first-line{
    font-size: xx-large;
    font-weight: bold;
    color: black;
    
}
.card img{
    border-radius: 50%;
}
hr{
    border: 1px solid white;
}
/* Solve of Task 3 ------------------------------------------*/

.contain3{
    padding: 10px;
    background-color: aqua;
    width: 610px;
    height: 620px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 200px 400px;
    grid-template-rows: 100px 400px 100px;
    row-gap: 10px;
    column-gap: 10px;
}
.Header3{
    grid-area: 1/1/1/3;
    background-color:aquamarine;
    text-align: center;
    align-content: center;
    font-size: xx-large;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Aside3{
    grid-area: 2/1/3/1;
    background-color:greenyellow;
    text-align: center;
    align-content: center;
    font-size: xx-large;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Article3{
    grid-area: 2/2/3/3;
    background-color:orange;
    text-align: center;
    align-content: center;
    font-size: xx-large;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   display: grid;
   grid-template-columns:  repeat(3,1fr);
   grid-template-rows:repeat(2,1fr);
   column-gap: 10px;
   row-gap: 10px;
   padding: 10px;
   

}
h2{
    grid-area: 1/1/3/4;
    font-size:xx-large;
    font-weight: 100;
    height: 250px;
    align-content: end;
    
}
.image1{
    grid-area: 2/1/3/2;
    background-color: orangered;
    height: 100px;
    align-self: self-end;
    font-size:20px;
    align-content: center;
}
 .image2{
    grid-area: 2/2/3/3;
    background-color: orangered; 
    height: 100px;
    align-self: self-end;
    font-size:20px;
    align-content: center;
} 
.image3{
    grid-area: 2/3/3/4;
    background-color: orangered; 
    height: 100px;
    align-self: self-end;
    font-size:20px;
    align-content: center;
} 
.Footer3{
    grid-area: 3/1/4/3;
    background-color:aquamarine;
    text-align: center;
    align-content: center;
    font-size: xx-large;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
